/* Colors */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
  color: rgb(167, 167, 167);
}
* h1 {
  font-size: 2rem;
}
* h2 {
  font-size: 1.5rem;
}
* h1, * h2, * h3, * h4, * h5 {
  color: white;
}

html {
  scroll-behavior: smooth;
}

nav {
  color: black;
  display: flex;
  justify-content: space-between;
  background: rgb(225, 118, 62);
  background: linear-gradient(90deg, rgb(225, 118, 62) 0%, rgb(229, 0, 153) 82%, rgb(183, 47, 149) 100%);
  box-shadow: 0px 10px 50px;
  padding: 0.5rem 1.5rem;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav > * {
  /*     border: 2px solid black;*/
  text-decoration: none;
  font-size: 1.7rem;
}
nav > *:visited {
  text-decoration: none;
}
nav > *:after {
  text-decoration: none;
}
nav > *:link {
  text-decoration: none;
}
nav > * > * {
  color: black;
}

body {
  background-image: url("../images/hexagons.png");
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  background-attachment: fixed;
  background-position-x: -400px;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.932);
}
.welcome .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  line-height: 1.2;
  margin: 0 10%;
}
.welcome .text-container h1:last-child {
  color: #e50099;
  font-size: 4rem;
  margin-top: 2rem;
}
.welcome h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
}

section {
  padding: 1px 0;
  background-color: rgba(0, 0, 0, 0.877);
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}

article {
  padding: 3rem;
  min-height: 70%;
  margin: 0 auto;
}
article.about-me {
  display: grid;
  gap: 2rem;
  grid-template-areas: "picture" "text";
  grid-template-rows: auto;
}
article.about-me img {
  margin-top: 2rem;
  grid-area: picture;
  padding: 1rem;
  min-width: 200px;
  min-height: 200px;
  border: 1px solid white;
  border-radius: 2rem;
}
article.about-me .text-container {
  grid-area: text;
}
article.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
article.projects h1 {
  text-align: center;
}
article.projects .project-card {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  text-align: center;
}
article.projects .project-card figure {
  display: flex;
  flex-direction: column;
}
article.projects .project-card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
article.contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
article.contact-info h1 {
  align-self: center;
}
article.contact-info div {
  display: flex;
  align-items: center;
}
article.contact-info div > a {
  display: flex;
  align-items: center;
}
article.contact-info div img {
  margin-right: 1rem;
}

button {
  background-color: white;
  color: black;
  display: block;
  padding: 1rem 4rem;
  margin: 0 auto;
  border: none;
  border-radius: 2rem;
  font-size: 3rem;
  font-weight: 600;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.welcome-motion {
  color: white;
  text-align: center;
}

@media only screen and (min-width: 750px) {
  body {
    background-position-x: 0;
  }
  nav {
    justify-content: center;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  article {
    margin: 3rem 15%;
  }
  article.about-me {
    grid-template-areas: "picture text" ". text";
  }
}/*# sourceMappingURL=globals.css.map */